@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar for 'Android' feel */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #052e16; /* green-950 */
}
::-webkit-scrollbar-thumb {
  background: #10b981; /* emerald-500 */
  border-radius: 3px;
}

body {
  background-color: #052e16; /* green-950 */
  color: white;
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}