@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar for 'Android' feel */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #14532d;
}
::-webkit-scrollbar-thumb {
  background: #22c55e;
  border-radius: 3px;
}

body {
  background-color: #14532d;
  color: white;
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}