@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar for 'Android' feel */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #0f172a; /* slate-900 */
}
::-webkit-scrollbar-thumb {
  background: #3b82f6; /* blue-500 */
  border-radius: 3px;
}

body {
  background-color: #0f172a; /* slate-900 */
  color: white;
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}