@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar for 'Android' feel */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #0f172a;
}
::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 3px;
}

body {
  background-color: #0f172a;
  color: white;
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}